

@model HomeViewModel
@{
    ViewData["Title"] = ViewBag.Baslik ?? "Yazilarim";
    
}

<h3 class="pb-4 mb-4 fst-italic border-bottom">
    @*@(ViewBag.Baslik == null ? "Yazilarim" || (string)ViewBag.Baslik)*@
    @*@(ViewBag.Baslik ?? "Yazilarim");*@

    @ViewData["Title"]
</h3>

@foreach (var gonderi in Model.Gonderiler)
{
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">@gonderi.Baslik</h2>
        <p class="blog-post-meta"> <a href="#">Yonetici</a> tarafindan @gonderi.OlusturulmaZamani.ToShortDateString() tarihinde yazildi.</p>

        @Html.Raw(@gonderi.Icerik)
    </article>
}


<nav class="blog-pagination d-flex justify-content-center g-3" aria-label="Pagination">
    @if (Model.EskisiVar)
    {
        <a class="btn btn-outline-primary rounded-pill mx-1 " asp-route-sayfa="@(Model.Sayfa + 1)" 
           asp-route-kategoriId="@Model.KategoriId">Oncekiler</a>

    }
    else
    {
        <a class="btn btn-outline-secondary rounded-pill mx-1 disabled">Oncekiler</a>


    }
    @if (Model.YenisiVar)
    {
        <a class="btn btn-outline-primary rounded-pill  mx-1" asp-route-sayfa="@(Model.Sayfa - 1)" 
           asp-route-kategoriId="@Model.KategoriId">Sonrakiler</a>
    }
    else
    {
        <a class="btn btn-outline-secondary rounded-pill disabled mx-1 disabled">Sonrakiler</a>
    }


</nav>